@import url("options/options.css");
@import url("options/widgets.css");
@import url("options/layout.css");
ul, ol {
    padding-left: 0;
    list-style-type: none;
}
.cloak {
    transition: opacity 0.3s;
}
[v-cloak] { 
    opacity: 0; 
    visibility: hidden
}
.sideBar .selected {
    -webkit-border-start-color: rgb(78, 87, 100);
    cursor: default;
    pointer-events: none;
}
.sideBar .selected a {
    color: rgb(70, 78, 90);
}
.rules {
    padding-left: 0;
    cursor: -webkit-grab;
}
.rules.sorting {
    cursor: -webkit-grabbing;
}
.ruleset {
    background-color:#EFF4FA;
    border-radius: 12px;
    margin-bottom: 8px;
    -webkit-user-select: none;
    margin-left: 0;
    list-style-type: none;
    transition: max-height 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715);
    overflow: hidden;
    max-height: 300px;
    border: 2px dotted transparent;
}
.sorting .ruleset[draggable=true]
{
    border-color:blue;
    opacity: 0.5;
}
.ruleset.slide-enter, 
.ruleset.slide-leave {
    max-height: 0;
}
.rule-enabled {
    width: 200px;
}
.rule {
    margin-bottom: 5px;
}
.rule .fields {
    display:flex;
    flex-direction: row;
    align-items: center;
}
.rule .regex {
    font-size: 9px;
}
.rule .value {
    margin-right: 8px;
}
.rule.disabled {
    color: #ccc;
}
.rule.error {
    color: red;
}
.error input {
    color: #940000;
    border-color: #E36F6F;
    background-color: #FFD0D0;
}
ul.errors {
    margin-bottom: 10px;
}
li.error {
    color: red;
}
.rule-result {
    margin-bottom: 15px;
}
.rule-container {
    position: relative;
    padding: 12px 25px;
}
.remove-rule {
    border:none;
    cursor:pointer;
    position:absolute;
    top: 2px;
    right: 2px;
    width: 30px;
    height: 30px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAiElEQVR42r2RsQrDMAxEBRdl8SDcX8lQPGg1GBI6lvz/h7QyRRXV0qUULwfvwZ1tenw5PxToRPWMC52eA9+WDnlh3HFQ/xBQl86NFYJqeGflkiogrOvVlIFhqURFVho3x1moGAa3deMs+LS30CAhBN5nNxeT5hbJ1zwmji2k+aF6NENIPf/hs54f0sZFUVAMigAAAABJRU5ErkJggg==) no-repeat center center;
}
.remove-rule:focus {
    outline:none;
}
.remove-rule:hover {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAqUlEQVR4XqWRMQqEMBBF/1E8Ra6x6V3FRnS9QbCxtJg6Z7CzE9lTiIXXyUb3C8EULixDIMM8Zt4kcDfxM5A45U+cgeXnC1tREgkzAgob3hiq3CUHvGLG4FTQoSgxQGDrzN8WTLBGnx2IVDksen9GH7Z9hA5E6uxABMJyCHDMCEGHzugLQPPlBCBNGq+5YtpnGw1Bv+te15ypljTpVzdak5Opy+z+qf//zQ+Lg+07ay5KsgAAAABJRU5ErkJggg==) no-repeat center center;
}
input[type="text"].error {
    border-color:red;
    background-color:#ffaaa1;
}
.criteria {
    list-style-type: none;
}

.form-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.form-status {
    transition: opacity 0.3s;
    padding: 10px;
    font-size: 14px;
    border: 1px solid transparent;
    
    color: #13440D;
    border-color: #44A537;
    background-color: #A7EB9E;
}
.form-status.error {
    color: #520D0D;
    background-color: #F9B3B3;
    border-color: #C14C4C;
}
.form-status.fade-enter, .form-status.fade-leave {
    opacity: 0;
}